/* Общие стили */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(242, 219, 191);
}

/* Шапка */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: rgb(242, 219, 191);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 3px solid rgb(0, 0, 0);
  border-radius: 20px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
 
.logo img {
  height: 50px;
}

.logo h1 {
  margin: 0;
  font-size: 24px;
  color: #333;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

nav a:hover {
  color: #4f9aea;
  transition: 0.5s;
}

.auth button {
  margin-left: 10px;
  margin-bottom: 5px;
  padding: 8px 16px;
  background-color: rgb(242, 219, 191);
  color: #000000;
  border: 2px solid #000;
  border-radius: 5px;
  cursor: pointer;
}

.auth button:hover {
  color: #468cd7;
  transition: 0.5s;
}

/* Главная новость */
.main-news {
  padding: 20px;
  text-align: center;
  background-color: rgb(242, 219, 191);
  margin: 20px;
  border-radius: 20px;
  border: 3px solid rgb(0, 0, 0);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#reset-main-news {
  display: inline-block;
  margin-bottom: 10px;
  color: rgb(67, 34, 5);
  text-decoration: none;
}

#reset-main-news:hover {
  color: #0056b3;
  transition: 0.5s;
}

.main-news img {
  width: 100%;
  max-width: 600px;
  height: auto;
  border-radius: 10px;
}

.main-news h2 {
  margin: 10px 0;
  font-size: 24px;
  color: rgb(67, 34, 5);
}

.main-news p {
  color: rgb(67, 34, 5);
}

/* Все новости */
.all-news {
  padding: 20px;
  background-color: rgb(242, 219, 191);
  margin: 20px;
  border-radius: 10px;
  border: 3px solid rgb(0, 0, 0);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.news-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: rgb(242, 219, 191);
}

.news-item {
  border: 3px solid rgb(0, 0, 0);
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  background-color: rgb(242, 219, 191);
  color: #000000; 
}

.news-item:hover {
  background-color: #cfac7f;
  transition: 0.42s;
}

.news-item h3 {
  margin: 0;
  font-size: 18px;
  color: inherit; 
}

.news-item p {
  margin: 5px 0;
  color: inherit; 
}

.news-item ul, 
.news-item ol {
  color: inherit; 
}

.news-item li {
  color: inherit; 
}

/* Кандидаты и партии */
.candidates {
  padding: 20px;
  background-color: rgb(242, 219, 191);
  margin: 20px;
  border: 3px solid #000;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.candidates h2 {
  margin-bottom: 20px;
}

.candidates-list {
  display: flex;
  overflow-x: auto; 
  gap: 50px;
  padding: 20px;
}

.candidate-card {
  flex: 0 0 auto; 
  width: 200px;
  text-align: center;
  border: 3px solid #000000;
  border-radius: 10px;
  margin: 15px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.candidate-card:hover{
  transform: scale(1.2);
  transition: 0.5s;
}

.candidate-card img {
  width: 150px; 
  height: 150px;
  object-fit: cover; 
  border-radius: 10px;
}

.candidate-card h3 {
  margin: 10px 0 5px;
  font-size: 18px;
}

.candidate-card p {
  margin: 0;
  color: #000000;
}

/* Подать заявку */
.apply {
  padding: 20px;
  background-color: rgb(242, 219, 191);
  margin: 20px;
  border: 3px solid rgb(0, 0, 0);
  color: rgb(67, 34, 5);
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.apply p {
  font-size: 20px;
}
.apply ol li{
  font-size: 20px;
}

.apply h2 {
  margin-bottom: 20px;
}

.apply-content {
  line-height: 1.6;
}

.apply-content a {
  color: rgb(130, 151, 54);
  text-decoration: none;
}

.apply-content a:hover {
  color: #36466a;
  transition: 0.5s;
}

/* О комиссии */
.about {
  padding: 20px;
  background-color: rgb(242, 219, 191);
  margin: 20px;
  color: rgb(67, 34, 5);
  border-radius: 20px;
  border: 3px solid rgb(0, 0, 0);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.about h2 {
  margin-bottom: 20px;
}

.about-content {
  line-height: 1.6;
}

/* Подвал */
footer {
  padding: 20px;
  text-align: center;
  background-color: rgb(242, 219, 191);
  margin-top: 20px;
  border-top: 3px solid #000000;
}

footer p, li{
  margin: 0;
  color: rgb(67, 34, 5);
  font-size: 20px;
}

footer ul{
  list-style: none;
}

footer a {
  color: rgb(67, 34, 5);
  text-decoration: none;
  font-size: 20px;
}

footer a:hover {
  color: #556ecb;
  transition: 0.5s;
}

/* Модальные окна */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  width: 300px;
  text-align: center;
  border-radius: 10px;
}

.close {
  float: right;
  cursor: pointer;
  font-size: 20px;
}
/* Ободряющая надпись */
.motivation {
  padding: 20px;
  border: 3px solid rgb(0, 0, 0) ;
  background-color: rgb(242, 219, 191);
  color: rgb(67, 34, 5);
  text-align: center;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.motivation h2 {
  margin-bottom: 10px;
  font-size: 24px;
}

.motivation p {
  margin-bottom: 20px;
  font-size: 18px;
}

.motivation a{
  text-decoration: none;
  color: #4f9aea;
}

.motivation a:hover{
  cursor: pointer;
  color: rgb(216, 146, 146);
  transition: 0.42s;
  
}

.motivation button {
  padding: 10px 20px;
  background-color: #fff;
  color: #007bff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.motivation button:hover {
  background-color: #f0f0f0;
}
#user-greeting {
  font-size: 16px;
  font-weight: bold;
  color: #007bff;
  margin-left: 10px;
}

#user-greeting span {
  color: #333;
}
/* Стили для формы ввода пароля */
#password-protection {
  text-align: center;
  margin-top: 50px;
}

#password-input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#password-submit {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

#password-submit:hover {
  background-color: #0056b3;
}

#password-error {
  margin-top: 10px;
  font-size: 14px;
}

.impr{
  color: red;
  font-size: 35px;
}

.suggest-news-container {
  text-align: center;
  margin: 30px 0;
  padding: 20px;
  background-color: rgb(242, 219, 191);
  border-radius: 10px;
  border: 2px dashed #000000;
}

.suggest-news-btn {
  display: inline-block;
  padding: 12px 24px;
  background-color: rgb(242, 219, 191);
  color: rgb(67, 34, 5);
  text-decoration: none;
  border-radius: 5px;
  border: 3px solid #9c7f5c;
  font-weight: bold;
  transition: background-color 0.3s;
}

.suggest-news-btn:hover {
  background-color: #cdaf79;
  transition: 0.42s;
}

.suggest-news-note {
  margin-top: 10px;
  color: rgb(67, 34, 5);
  font-size: 16px;
}

.boss{
  color: rgb(67, 34, 5);
  text-decoration: underline;
}

.boss:hover{
  background-color: #b57a43;
  transition: 1s;
}

.boss.active{
  background-color: #a4aaaf;
}

.candp{
  font-weight: 900;
  color: #282424;
  text-decoration: underline;
}

.vote{
  padding: 20px;
  background-color: rgb(242, 219, 191);
  margin: 20px;
  border: 3px solid #000;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.vote p {
  font-size: 20px;
}
.vote ul li{
  font-size: 20px;
}

.voteh2{
  margin-bottom: 20px;
}

.link-vote{
  color: #007bff;
  text-decoration: none;
  transition: 0.5s;
  border-radius: 10px;
}

.link-vote:hover{
  background-color: rgb(203, 33, 33);
  color: rgb(98, 199, 98);
  text-decoration: underline;
}

hr {
  border-color: #000;
}